.container{
    margin:30px auto;
    width:350px;
    height:600px;
    background-color: white;
	border: 2px solid black;
    
	border-radius: 10px;
}

.to{
    height:10%;
    background-color: rgb(240, 238, 238);
    flex:auto;
}
#to-left{
    width:40%;
    margin-top:15px;
    margin-left:20px;
    text-align:left; 
    font-size:3ex;
    display:block;
    color:black;
}
#to-right{
    width:45%;
    margin-top:15px;
    margin-right:-20px;
    text-align:right; 
    font-size:3ex;
    display:block;
    color:black;
}


#profile{
    margin-top:50px;
    height:75%;
    background-color: rgb(255, 255, 255);
}
#image{
    padding:20px;
    display:block;
    margin:auto;
    width:180px;
    height:180px;
    border-radius: 100px 100px 100px 100px;
}
#mi-text{
    margin-top:-20px;
    text-align: center;
    display:block;
    margin:auto;
    font-size:large;

}
#calling{
    margin-top:50px;
    background-color: white;
}
#profile{
    display:block;
}
#calling{
    display:none;
}
.call{
    margin-top:50px;
}
#icon1{
    text-align:center; 
    font-size:10ex;
    display:block;
    color:green;
    
}
#icon2{
    text-align:center; 
    font-size:10ex;
    display:block;
    color:red;
    
}
#icon3{
    text-align:center; 
    font-size:10ex;
    display:block;
    color:red;
    
}